@import "tailwindcss";

/* Custom utility for line-clamping text */
@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  /* For Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #FFA500 #1a1a1a;
  }

  /* For Chrome, Safari, and Edge */
  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #FFA500;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
  }
}

@layer base {
  body {
  }
}